* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font: normal 16px sans-serif;
    color: #342c5c;
    scroll-behavior: smooth;
  }
  
  ul,
  nav {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    opacity: 0.85;
  }
  
  a:hover {
    opacity: 1;
  }
  
  a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    opacity: 1;
  }

  header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 100px 15px;
    animation: .75s fadein 0.25s forwards;
    opacity: 0;
    z-index: 100;
    /* background-color: lightblue; */
    background-image: linear-gradient(to right, #272d50, #342c5c);
    /* maybe change animation to 1s fadein 0.5s if you want it slower/smoother */
  }
  
  #nav-stuff a {
    color: white;
  }
  
  @keyframes fadein {
    100% {
      opacity: 1;
    }
  }
  
  header h2 {
    font-family: "Quicksand", sans-serif; /* TO BE REPLACED */
  }
  
  header nav {
    display: flex;
    margin-right: -15px;
  }
  
  header nav li {
    margin: 0 15px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
  }

  .hovering {
    stroke: white;
  }

  #vizOne {
    background-color: #fecfd9
  }

  .axis path,
  .axis line {
    stroke: blue;
  }

  /* .axis text {

  } */

.seeThrough {
  opacity: .5;
}

.svgTwo {
  background-color: paleturquoise
}

#vizThree {
  background-color: #dfffe4
}

section:nth-child(even) {
  background-image: linear-gradient(to bottom right, #febfe8, #fedfc9);

}

section:nth-child(odd) {
  background-image: linear-gradient(to top left, #feaff9, #feefb9);
}

